* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	font-family:Monospace;
	font-weight: bolder;
	list-style: none;
}

body {
  background-color: #1e1f26;
  color: whitesmoke;
}

/* navbar start here */

.underline:after {
  content: '';
  display: block;
  width: 3.5%;
  height: 4px;
  background-color: skyblue;
}

.underline {
  margin-left: 8rem;
  color: #c3d2d5;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav-container {
	display: flex;
	padding: 40px;
	align-items: center;
	justify-content: space-between;
}

.navbar ul {
	display: flex;
	margin-right: 40px;
	font-size: 20px;
}

.navbar ul li {
	margin-left: 90px;
}

.navbar ul li a {
	color: lightslategrey;
}

.navbar ul li a.active {
	color: whitesmoke;
}

.navbar ul li a:hover {
	color: whitesmoke;
}


/* From Uiverse.io by NlghtM4re */ 


.progressbar label{
	color: grey;

}

.loader1 {
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader1::before {
  content: "";
  position: absolute;
  background-color: rgb(9, 188, 9);
  width: 80%;
  height: 100%;
  border-radius: 2px;
  box-shadow: rgb(9, 188, 9) 0px 2px 29px 0px;
}

.loader2 {
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader2::before {
  content: "";
  position: absolute;
  background-color: rgb(9, 188, 9);
  width:60%;
  height: 100%;
  border-radius: 2px;
  box-shadow: rgb(9, 188, 9) 0px 2px 29px 0px;
}


.loader3 {
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader3::before {
  content: "";
  position: absolute;
  background-color: rgb(9, 188, 9);
  width: 50%;
  height: 100%;
  border-radius: 2px;
  box-shadow: rgb(9, 188, 9) 0px 2px 29px 0px;
}


.loader4 {
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader4::before {
  content: "";
  position: absolute;
  background-color: #aa0dd6;
  width: 40%;
  height: 100%;
  border-radius: 2px;
  box-shadow: #aa0dd6 0px 2px 29px 0px;
}

.loader5 {
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader5::before {
  content: "";
  position: absolute;
  background-color: #aa0dd6;
  width: 70%;
  height: 100%;
  border-radius: 2px;
  box-shadow: #aa0dd6 0px 2px 29px 0px;
}

.loader6 {
  width: 30%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader6::before {
  content: "";
  position: absolute;
  background-color: #aa0dd6;
  width: 20%;
  height: 100%;
  border-radius: 2px;
  box-shadow: #aa0dd6 0px 2px 29px 0px;
}


.container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 3rem;
}

.main-box {
  display: flex; 
  justify-content: space-around;
  margin-right: 26rem;

}

.main-container {
  margin-top: 5rem; 
}
