		*{
			margin: 0px;
			padding: 0px;
			text-decoration: none;
			font-family:Monospace;
			font-weight: bolder;
			list-style: none;
		}

		body {
				background-color: #1e1f26;
		}

		.navbar {
			display: flex;
			align-items: center;
			padding: 40px;
		}

		.navbar li {
			display: inline-block;
			margin-left: 6.5rem;
			font-size: 18px;
		}

		.navbar ul {
			margin-left: 27.2rem;
		}

		.navbar li a {
			color: grey;
		}

		.navbar li a:hover {
			color: white;
		}

		.navbar h1 {    
			margin-left: 6rem;
			color: floralwhite;
		}

		.icons {
			margin-left: 12rem;
			margin-top: 6rem;
		}

		.icons i {
			font-size: 6rem;
			margin-left: 6rem;
		}

		.icon-name {
			margin-left: 10rem;
			margin-top: 3rem;
		}

		.icon-name p {
			font-size: 20px;
			color: #F96D00;
			float: left;
			margin-left: 10rem;
		}


/* Progress Bar  */

.loader {
  width: 60%;
  height: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}

.loader::before {
  content: "";
  position: absolute;
  background-color: #D800A6;
  width: 60%;
  height: 100%;
  border-radius: 2px;
  box-shadow: #D800A6 0px 2px 29px 0px;
}

/* Old color for .loader is === rgb(9, 188, 9)  */

.container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.progressbar {
	margin-top: 10rem;
	margin-right: 5rem;
}

label {
	color: whitesmoke;
	margin-left: 18rem;
	margin-top: 100rem;
}