		*{
			margin: 0px;
			padding: 0px;
			text-decoration: none;
			font-family:Monospace;
			font-weight: bolder;
			list-style: none;
		}

    body {
        background-color: #1e1f26;
    }

		.navbar {
			display: flex;
			align-items: center;
			padding: 40px;
		}

		.navbar li {
			display: inline-block;
			margin-left: 6.5rem;
			font-size: 18px;
		}

		.navbar ul {
			margin-left: 25rem;
		}

		.navbar li a {
			color: grey;
		}

		.navbar li a:hover {
			color: white;
		}

		.navbar h1 {    
			margin-left: 6rem;
			color: floralwhite;
		}

.container {
  display: grid;
  align-items: center;
  margin-top: 5rem;
  justify-content: center;
  background-color: #474A56;
  padding: 40px;
  margin-left: 35rem;
  margin-right: 35rem;
  margin-bottom: 10rem;
  border-radius: 12px;
  color: whitesmoke;
}

input {
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px black;
  background-color: #D3D5FD;
  color: black;

}

.textarea {
  height: 15rem;
  width: 25rem;
  margin-top: 2rem;
  background-color: #D3D5FD;
  box-shadow: 3px 3px black;
  border-radius: 8px;
  font-size: 15px; 
  border: 1px solid ghostwhite;
}

.container input[type="button"] {
  background-color: blueviolet;
  height: 3rem;
  font-size: 18px;
  border: 1px solid blueviolet;
}

.container input[type="text"] {
  height: 3rem;
  font-size: 15px;
  border: 1px solid ghostwhite;
}

.container input[type="button"]:hover {
  background-color: #7e1ac9;
}

.icons {
  font-size: 3rem;
  margin-left: 4rem;
  margin-top: 2rem;
}